@import 'react-toastify/dist/ReactToastify.css';


@tailwind base;
@tailwind components;
@tailwind utilities;




.product-container {
  display: flex; 
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem; 
  box-sizing: border-box; 
}

.image-section {
  flex: 0 0 45%;
  margin-right: 1rem; 
}

.description-section {
  flex: 0 0 50%; 
}

.description-section > * {
  margin-bottom: 20px; /* Add space between each component */
}

.description-section .quantity-selector {
  margin-bottom: 20px; /* You can specifically target the QuantitySelector */
}

.description-section .add-to-cart-button {
  margin-bottom: 20px; /* Or target the AddToCartButton if you prefer */
}


@media (max-width: 768px) {
  .image-section, .description-section {
    flex: 1; 
    margin-right: 0; 
  }
}




body {
  background-color: #f9fafb; 
}

.header, .footer, .banner, .carousel, .newsletter {
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
  transition: transform 0.3s ease;
}

.carousel img {
  border-radius: 12px; 
}




#Hero {
  background-image: url("/banner2.webp");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} */

#Hero h4 {
  padding-bottom: 15px;
}

#Hero h1 {
  color: #08815f;
}

#Hero button {
  background-image: url("/button.png");
  background-color: transparent;
  color: #08815f;
  border: 0;
  padding: 14px 90px 15px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}



@keyframes box1 {
  0%, 50% {
      transform: translate(100%, 0);
  }
  100% {
      transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
      transform: translate(0, 100%);
  }
  50% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%, 50% {
      transform: translate(100%, 100%);
  }
  100% {
      transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
      transform: translate(200%, 0);
  }
  50% {
      transform: translate(200%, 100%);
  }
  100% {
      transform: translate(100%, 100%);
  }
}



